<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div>
        <img src="../../assets/Pierce_Brown_by_Gage_Skidmore.jpg" />
      </div>
      <div>
        <em>
          Photo by Gage Skidmore
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 class="blue">Who Pierce Brown?</h1>
    <p>
      Brown wrote six novels and faced rejection from over 120 agents before selling Red Rising. He wrote the novel in
      two months above his parents' garage in Seattle, Washington.
    </p>

    <p>
      Red Rising, published in 2014, received widespread positive reviews, and hit #20 on The New York Times Best
      Seller list. The 2015 sequel, Golden Son, hit #6 on the same list and was equally praised by critics. In 2016,
      Morning Star reached #1 on the New York Times Best Seller list in Adult Hardcover, Digital Book and cumulative. It
      also reached #1 on the USA Today Best-Selling Books list.
    </p>
  </div>
</div>
