<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">contact_mail</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>8515 Dominus Lane</p>
      <p>Sec 52, Mars Landing</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon color="primary">ring_volume</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Work: 555-123-4567</p>
      <p>Toll-free: 1-888-321-7654</p>
      <p>Fax: 555-111-2233</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center">
    Come on by for a biscuit or some tea. We are pretty friendly people around here and love to chat!
  </p>
</div>
