<div class="row">
  <div class="col-md-4">
    <figure class="figure">
      <img src="../../assets/tchaikovsky.jpg" class="figure-img img-fluid rounded"
        alt="Pyotr Ilyich Tchaikovsky">
      <figcaption class="figure-caption text-right">www.biography.com</figcaption>
    </figure>
  </div>

  <div class="col-md-8">
    <h3>Pyotr Ilyich Tchaikovsky</h3>

    <p class="lead">Pyotr Ilyich Tchaikovsky is widely considered the most popular Russian composer in
      history. His work includes the 'The Sleeping Beauty' and 'The Nutcracker.'</p>

    <p class="lead">Russian composer Pyotr Ilyich Tchaikovsky was born on May 7, 1840, in Kamsko-Votkinsk, Vyatka, Russia. He was the second eldest of his parents' six surviving offspring. Tchaikovsky's father, Ilya, worked as a mine inspector and metal works manager.</p>

    <p class="lead">Pyotr Tchaikovsky's work was first publicly performed in 1865, with Johann Strauss the Younger conducting Tchaikovsky's Characteristic Dances at a Pavlovsk concert. In 1868, Tchaikovsky's First Symphony was well-received when it was
    publicly performed in Moscow. The following year, his first opera, The Voyevoda, made its way to the stage — with little
    fanfare.</p>

    <p class="lead">Acclaim came readily for Tchaikovsky in 1875, with his composition Symphony No. 3 in D Major. At the end of that year, the composer embarked on a tour of Europe. In 1876, he completed the ballet Swan Lake as well as the fantasy Francesca da Rimini. While the former has come to be one of the most frequently performed ballets of all time, Tchaikovsky again endured the ire of critics, who at its premiere panned it as too complex and too "noisy."</p>

    <p class="lead">Tchaikovsky resigned from the Moscow Conservatory in 1878 to focus his efforts entirely on composing. As a result, he spent the remainder of his career composing more prolifically than ever. His collective body of work constitutes 169
    pieces, including symphonies, operas, ballets, concertos, cantatas and songs. Among his most famed late works are the
    ballets The Sleeping Beauty (1890) and The Nutcracker (1892).</p>
  </div>
</div>
