.bg {
  height: 300px;
  display: flex;
  align-items: center;
  background-color: rgba(96, 125, 138, .38);
}
h1{
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.sub {
  color: #37474f;
  font-size: 1.5rem;
}
